<html>
<head>
    <title>Acerca de mi</title>
</head>
<body>
    <h1>Acerca de mi</h1>
    <form action="" method="post">
        {% csrf_token %}
    <p>Hola, que tal! Mi nombre es Diego Liksenberg, soy Contador Público y Licenciado en Administración y tengo más de 20 años de experiencia en mi profesión, habiendo desempeñado cargos en el área impositiva, en control de gestión y en los últimos 15 años como gerente de administración y finanzas en distintas empresas de diferentes rubros. Actualmente, para complementar y ampliar mis conocimientos, estoy empezando a aprender el lenguaje de programación Python y el Framework Django. Desde ya, muchas gracias por visitar mi página y si quieres puedes seguirme en mis redes sociales.</p>
</body>
</html>